name: Taskflow CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:


    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: '18'

      - name: Install backend dependencies
        run : |
          cd backend
          npm Install
          npm run test || echo "No tests yet"

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm Install
          npm run test || echo "No tests yet"

      - name: Build Docker Images
        run: docker compose -f docker-compose.yml build
